/* Imports */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

/* Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F9A825;
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
