/* Imports */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

html {
    background-color: #222;
}

body {
    margin: 0;
    /* background: #222; */
    color: #e0c9a3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}


/* Text Form */


/* Header */

header {
    background: #F9A825;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


/* Navigation */

.nav {
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 10px;
    position: absolute;
}

.nav a {
    text-transform: uppercase;
    float: left;
    color: #444;
    text-align: none;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 14px;
}

.nav a:hover {
    color: #000000;
}

.nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: relative;
    top: 25px;
    width: 100%;
    transform: scale(0, 1);
    /* transform-origin: center; */
    transition: transform ease-in-out 400ms;
}

.nav a:hover::before {
    /* width: 100%; */
    transform: scale(1, 1);
}


/*Navigation - Profile*/

/* Media */

@media screen and (max-width: 529px) {
    /* .nav a,
    .nav {
        float: none;
        display: block;
    } */
    .button-profile {
      background-image: url("assets/img/favicon.ico");
      border: none;
      color: transparent;
      height: 25px;
      width: 25px;
      cursor: pointer;
      display: inline-block;
    }

}

@media screen and (min-width: 530px) {
  .button-profile {
      background-color: transparent;
      border: none;
      color: #ffffff;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition-duration: 0.4s;
      cursor: pointer;
      line-height: 28px;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .button-profile:hover {
      background-color: #000000;
      color: #ffffff;
  }
}
input[type="file"] {
    appearance: none;
    background-color: #;
    cursor: pointer;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}
